# Managed by Composer
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/
/var/

# Symfony
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/

# PHPUnit
.phpunit.result.cache
/phpunit.xml.dist

# MacOS
.DS_Store

# Editors
/.idea
/.vscode
