{% if geoPointId %}
    <a href="{{ path('place_item', {id: geoPointId}) }}">Інфарманты з {{ location }}</a>:
{% else %}
    Інфарманты з {{ location }}:
{% endif %}

{% for name in names %}
    {{ name }}
    {%- if not loop.last -%},{% endif %}
{% endfor %}
