{% extends '@HWIOAuth/layout.html.twig' %}

{% block hwi_oauth_content %}
    {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}
    {% for owner in hwi_oauth_resource_owners() %}
        <a class="btn btn-primary" href="{{ hwi_oauth_login_url(owner) }}">
            Аўтарызацыя праз
            <b>{{ owner | trans({}, 'HWIOAuthBundle') }}</b>
        </a> <br />
    {% endfor %}
{% endblock hwi_oauth_content %}
