{% extends 'base.html.twig' %}

{% block title %}
    Import map data
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h4>Import map data</h4>
        {{ form(form) }}
    </div>
</div>
{% endblock %}
