<div class="d-none" id="createNewOrganizationTemplate">
    <option value="ORGANIZATION_ID">
        <b>ORGANIZATION_NAME</b>
        ORGANIZATION_LOCATION
    </option>
</div>

<script type="application/javascript">
    function addOrganizationBlock(blockIndex, id, type, name, description, location, notes) {
        let html = document.getElementById('createNewOrganizationTemplate').innerHTML
        html = html.replaceAll('BLOCK_INDEX', blockIndex)
        html = html.replaceAll('ORGANIZATION_ID', '/api/organizations/' + id)
        html = html.replaceAll('ORGANIZATION_NAME', name)
        html = html.replaceAll('ORGANIZATION_LOCATION', location)

        let element = document.getElementById('editBlockOrganization' + blockIndex)
        element.insertAdjacentHTML('afterbegin', html)
        element.selectedIndex = '/api/organizations/' + id
    }

    window.addEventListener("load", (event) => {
        const saveNewOrganization = document.getElementById('saveNewOrganization')
        if (saveNewOrganization) {
            saveNewOrganization.addEventListener('click', event => {
                const form = document.getElementById('formAddOrg')
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    form.classList.add('was-validated')
                } else {
                    const formData = new FormData(form)
                    const formDataObj = Object.fromEntries(formData.entries())
                    let id = ''
                    const isNew = id === ''
                    const index = formDataObj.blockIndex
                    delete formDataObj.blockIndex
                    formDataObj.type = parseInt(formDataObj.type)
                    if (isNew) {
                        formDataObj.dateCreated = (new Date()).toISOString()
                    }
                    if (formDataObj.geoPoint === '') {
                        formDataObj.geoPoint = null
                    }

                    const xhr = new XMLHttpRequest()
                    const method = isNew ? 'POST' : 'PATCH'
                    const url = window.location.origin + '/api/organizations' + (isNew ? '' : '/' + id)

                    xhr.open(method, url, true)
                    xhr.setRequestHeader("Content-type", isNew ? "application/ld+json" : "application/merge-patch+json")
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            const status = xhr.status;
                            if (status === 0 || (status >= 200 && status < 400)) {
                                let obj = JSON.parse(xhr.responseText)
                                if (isNew) {
                                    id = obj.id
                                }
                                const typeText = form.querySelector('select[name="type"]').selectedOptions[0].text
                                const locationText = form.querySelector('select[name="geoPoint"]').selectedOptions[0].text
                                addOrganizationBlock(index, id, typeText, obj.name, obj.description, locationText, obj.notes)
                                showMessage(status, 'Даныя захаваліся паспяхова!', 'Блок ' + index, '#' + id)
                            } else {
                                let message = 'Даныя не захаваліся!'
                                if (xhr.getResponseHeader("content-type").indexOf('json') > 0) {
                                    let obj = JSON.parse(xhr.responseText)
                                    message += '</br>' + status + '. ' + obj.description
                                }
                                showMessage(status, message, 'Блок ' + index, '#' + id)
                            }

                            const modalElement = document.getElementById('addOrgModal')
                            bootstrap.Modal.getInstance(modalElement).hide()

                            form.classList.remove('was-validated')
                            form.reset()
                        }
                    };
                    xhr.send(JSON.stringify(formDataObj))
                }
            })
        }
    });
</script>
