<div class="d-none" id="createNewMarkerTemplate">
    <p id="editBlock_BLOCK_INDEX_Marker_MARKER_ID">
        MARKER_CATEGORY <b>MARKER_NAME</b>
        MARKER_TAGS <span class="badge text-bg-secondary"></span>
        MARKER_NOTES
        <button type="submit" class="btn btn-danger"
                data-index="MARKER_ID" data-block="BLOCK_INDEX">Выдаліць</button>
    </p>
</div>

<script type="application/javascript">
    function addActionMarker(element) {
        const id = element.getAttribute('data-index')
        const blockIndex = element.getAttribute('data-block')
        element.addEventListener('click', () => {

            const xhr = new XMLHttpRequest()
            const method = 'DELETE'
            const url = window.location.origin + '/api/file_markers/' + id

            xhr.open(method, url, true)
            xhr.onreadystatechange = () => {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    const status = xhr.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        showMessage(status, 'Даныя выдалены паспяхова!', 'Эпізод блока', '#' + id)
                        document.getElementById('editBlock_' + blockIndex + '_Marker_' + id).remove()
                    } else {
                        let message = 'Даныя не выдалены!'
                        if (xhr.getResponseHeader("content-type").indexOf('json') > 0) {
                            let obj = JSON.parse(xhr.responseText)
                            message += '</br>' + status + '. ' + obj.description
                        }
                        showMessage(status, message, 'Эпізод блока', '#' + id)
                    }
                }
            };
            xhr.send(JSON.stringify())
        })
    }

    function addMarkerBlock(blockIndex, id, category, name, tags, notes) {
        let html = document.getElementById('createNewMarkerTemplate').innerHTML
        html = html.replaceAll('BLOCK_INDEX', blockIndex)
        html = html.replaceAll('MARKER_ID', '' + id)
        const cat = category === '' ? '' : category + ':'
        html = html.replaceAll('MARKER_CATEGORY', cat)
        html = html.replaceAll('MARKER_NAME', name)
        html = html.replaceAll('MARKER_NOTES', notes)

        let htmlTags = ''
        let tagTemplate = document.getElementById('createNewMarkerTemplate').querySelector('span')
        for (let tag in tags) {
            tagTemplate.innerText = tag
            htmlTags += tagTemplate.outerHTML
        }
        html = html.replaceAll('MARKER_TAGS', htmlTags)

        let element = document.getElementById('allBlock' + blockIndex + 'Markers')
        element.insertAdjacentHTML('afterbegin', html)

        let newMarker = document.getElementById('editBlock_' + blockIndex + '_Marker_' + id).querySelector('button')
        addActionMarker(newMarker)
    }

    window.addEventListener("load", (event) => {
        const saveNewEpisode = document.getElementById('saveNewEpisode')
        if (saveNewEpisode) {
            saveNewEpisode.addEventListener('click', event => {
                const form = document.getElementById('formAddEpisode')
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    form.classList.add('was-validated')
                } else {
                    const formData = new FormData(form)
                    const formDataObj = Object.fromEntries(formData.entries())
                    let id = ''
                    const isNew = id === ''
                    const index = formDataObj.blockIndex
                    delete formDataObj.blockIndex
                    formDataObj.category = parseInt(formDataObj.category)
                    formDataObj.tags = {}
                    formDataObj.file = '/api/files/' + document.forms["blockEdit" + index].file.value

                    const xhr = new XMLHttpRequest()
                    const method = isNew ? 'POST' : 'PATCH'
                    const url = window.location.origin + '/api/file_markers' + (isNew ? '' : '/' + id)

                    xhr.open(method, url, true)
                    xhr.setRequestHeader("Content-type", isNew ? "application/ld+json" : "application/merge-patch+json")
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            const status = xhr.status;
                            if (status === 0 || (status >= 200 && status < 400)) {
                                let obj = JSON.parse(xhr.responseText)
                                if (isNew) {
                                    id = obj.id
                                }
                                const categoryText = form.querySelector('select[name="category"]').selectedOptions[0].text
                                addMarkerBlock(index, id, categoryText, obj.name, {}, obj.notes)
                                showMessage(status, 'Даныя захаваліся паспяхова!', 'Эпізод блока', '#' + id)
                            } else {
                                let message = 'Даныя не захаваліся!'
                                if (xhr.getResponseHeader("content-type").indexOf('json') > 0) {
                                    let obj = JSON.parse(xhr.responseText)
                                    message += '</br>' + status + '. ' + obj.description
                                }
                                showMessage(status, message, 'Эпізод блока', '#' + id)
                            }

                            const modalElement = document.getElementById('addEpisodeModal')
                            bootstrap.Modal.getInstance(modalElement).hide()

                            form.classList.remove('was-validated')
                            form.reset()
                        }
                    };
                    xhr.send(JSON.stringify(formDataObj))
                }
            })
        }
    });
</script>
