<div class="d-none" id="createNewOrganizationTemplate">
    <option value="ORGANIZATION_ID">
        <b>ORGANIZATION_NAME</b>
        ORGANIZATION_LOCATION
    </option>
</div>

<script type="application/javascript">
    function addOrganizationBlock(blockIndex, id, type, name, description, location, notes) {
        let html = document.getElementById('createNewOrganizationTemplate').innerHTML
        html = html.replaceAll('BLOCK_INDEX', blockIndex)
        html = html.replaceAll('ORGANIZATION_ID', '' + id)
        html = html.replaceAll('ORGANIZATION_NAME', name)
        html = html.replaceAll('ORGANIZATION_LOCATION', location)

        let element = document.getElementById('editBlockOrganization' + blockIndex)
        element.insertAdjacentHTML('afterbegin', html)
        element.selectedIndex = id
    }

    window.addEventListener("load", (event) => {
        const saveNewOrganization = document.getElementById('saveNewOrganization')
        if (saveNewOrganization) {
            saveNewOrganization.addEventListener('click', event => {
                const form = document.getElementById('formAddOrg')
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                } else {
                    // todo: save new organization
                    const blockIndex = form.querySelector('input[name="blockIndex"]').value
                    const id = '00000'
                    // const type = form.querySelector('select[name="type"]').value
                    const typeText = form.querySelector('select[name="type"]').selectedOptions[0].text
                    const name = form.querySelector('input[name="name"]').value
                    const description = form.querySelector('textarea[name="description"]').value
                    const location = '---'
                    const notes = form.querySelector('textarea[name="notes"]').value

                    addOrganizationBlock(blockIndex, id, typeText, name, description, location, notes)

                    showMessage(200, 'Данныя захаваліся паспяхова!', 'Арганізацыя', '#' + id)

                    const modalElement = document.getElementById('addOrgModal')
                    bootstrap.Modal.getInstance(modalElement).hide()

                    form.classList.remove('was-validated')
                    form.reset()
                }
                form.classList.add('was-validated')
            })
        }
    });
</script>
