<div class="d-none" id="createNewSubjectTemplate">
    <p id="editBlock_BLOCK_INDEX_Subject_SUBJECT_ID">
        SUBJECT_TYPE: <b>SUBJECT_NAME</b>
        <button type="submit" class="btn btn-danger"
                data-index="SUBJECT_ID" data-block="BLOCK_INDEX">Выдаліць</button>
    </p>
</div>

<script type="application/javascript">
    function addActionSubject(element) {
        const id = element.getAttribute('data-index')
        const blockIndex = element.getAttribute('data-block')
        element.addEventListener('click', () => {

            const xhr = new XMLHttpRequest()
            const method = 'DELETE'
            const url = window.location.origin + '/api/subjects/' + id

            xhr.open(method, url, true)
            xhr.onreadystatechange = () => {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    const status = xhr.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        showMessage(status, 'Даныя выдалены паспяхова!', 'Прадмет', '#' + id)
                        document.getElementById('editBlock_' + blockIndex + '_Subject_' + id).remove()
                    } else {
                        let message = 'Даныя не выдалены!'
                        if (xhr.getResponseHeader("content-type").indexOf('json') > 0) {
                            let obj = JSON.parse(xhr.responseText)
                            message += '</br>' + status + '. ' + obj.description
                        }
                        showMessage(status, message, 'Прадмет', '#' + id)
                    }
                }
            };
            xhr.send(JSON.stringify())
        })
    }

    function addSubjectBlock(blockIndex, id, type, name) {
        let html = document.getElementById('createNewSubjectTemplate').innerHTML
        html = html.replaceAll('BLOCK_INDEX', blockIndex)
        html = html.replaceAll('SUBJECT_ID', '' + id)
        html = html.replaceAll('SUBJECT_TYPE', type)
        html = html.replaceAll('SUBJECT_NAME', name)

        let element = document.getElementById('allBlock' + blockIndex + 'Subjects')
        element.insertAdjacentHTML('afterbegin', html)

        let newSubject = document.getElementById('editBlock_' + blockIndex + '_Subject_' + id).querySelector('button')
        addActionSubject(newSubject)
    }

    window.addEventListener("load", (event) => {
        const saveNewSubject = document.getElementById('saveNewSubject')
        if (saveNewSubject) {
            saveNewSubject.addEventListener('click', event => {
                const form = document.getElementById('formAddSubject')
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    form.classList.add('was-validated')
                } else {
                    const formData = new FormData(form);
                    const formDataObj = Object.fromEntries(formData.entries());
                    let id = ''
                    const isNew = id === ''
                    const index = formDataObj.blockIndex
                    delete formDataObj.blockIndex
                    formDataObj.type = parseInt(formDataObj.type)

                    const xhr = new XMLHttpRequest()
                    const method = isNew ? 'POST' : 'PATCH'
                    const url = window.location.origin + '/api/subjects' + (isNew ? '' : '/' + id)

                    xhr.open(method, url, true)
                    xhr.setRequestHeader("Content-type", isNew ? "application/ld+json" : "application/merge-patch+json")
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            const status = xhr.status;
                            if (status === 0 || (status >= 200 && status < 400)) {
                                let obj = JSON.parse(xhr.responseText)
                                if (isNew) {
                                    id = obj.id
                                }
                                const typeText = form.querySelector('select[name="type"]').selectedOptions[0].text
                                addSubjectBlock(index, id, typeText, obj.name)
                                showMessage(status, 'Даныя захаваліся паспяхова!', 'Прадмет', '#' + id)
                            } else {
                                let message = 'Даныя не захаваліся!'
                                if (xhr.getResponseHeader("content-type").indexOf('json') > 0) {
                                    let obj = JSON.parse(xhr.responseText)
                                    message += '</br>' + status + '. ' + obj.description
                                }
                                showMessage(status, message, 'Прадмет', '#' + id)
                            }

                            const modalElement = document.getElementById('addSubjectModal')
                            bootstrap.Modal.getInstance(modalElement).hide()

                            form.classList.remove('was-validated')
                            form.reset()
                        }
                    };
                    xhr.send(JSON.stringify(formDataObj))
                }
            })
        }
    });
</script>
