<div class="d-none" id="createNewSubjectTemplate">
    <p id="editBlock_BLOCK_INDEX_Subject_SUBJECT_ID">
        SUBJECT_TYPE: <b>SUBJECT_NAME</b>
        <button type="submit" class="btn btn-danger"
                data-index="SUBJECT_ID" data-block="BLOCK_INDEX">Выдаліць</button>
    </p>
</div>

<script type="application/javascript">
    function addActionSubject(element) {
        const id = element.getAttribute('data-index')
        const index = element.getAttribute('data-block')
        element.addEventListener('click', () => {
            sendRequest(
                window.location.origin + '/api/subjects/' + id,
                'DELETE',
                null,
                'Прадмет',
                id,
                index,
                'Даныя не выдалены!'
            ).then(function (obj) {
                showMessage(obj.status, 'Даныя выдалены паспяхова!', 'Прадмет', '#' + obj.id)
                document.getElementById('editBlock_' + obj.index + '_Subject_' + obj.id).remove()
            })
        })
    }

    function addSubjectBlock(blockIndex, id, type, name) {
        let html = document.getElementById('createNewSubjectTemplate').innerHTML
        html = html.replaceAll('BLOCK_INDEX', blockIndex)
        html = html.replaceAll('SUBJECT_ID', '' + id)
        html = html.replaceAll('SUBJECT_TYPE', type)
        html = html.replaceAll('SUBJECT_NAME', name)

        let element = document.getElementById('allBlock' + blockIndex + 'Subjects')
        element.insertAdjacentHTML('afterbegin', html)

        let newSubject = document.getElementById('editBlock_' + blockIndex + '_Subject_' + id).querySelector('button')
        addActionSubject(newSubject)
    }

    window.addEventListener("load", (event) => {
        const saveNewSubject = document.getElementById('saveNewSubject')
        if (saveNewSubject) {
            saveNewSubject.addEventListener('click', event => {
                const form = document.getElementById('formAddSubject')
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    form.classList.add('was-validated')
                } else {
                    const formData = new FormData(form);
                    const formDataObj = Object.fromEntries(formData.entries());
                    let id = formDataObj.id
                    const isNew = id === ''
                    const index = formDataObj.blockIndex
                    delete formDataObj.blockIndex
                    formDataObj.type = parseInt(formDataObj.type)

                    sendRequest(
                        window.location.origin + '/api/subjects' + (isNew ? '' : '/' + id),
                        isNew ? 'POST' : 'PATCH',
                        formDataObj,
                        'Прадмет',
                        id,
                        index
                    ).then(function (obj) {
                        const typeText = form.querySelector('select[name="type"]').selectedOptions[0].text
                        addSubjectBlock(obj.index, obj.id, typeText, obj.name)
                        showMessage(obj.status, 'Даныя захаваліся паспяхова!', 'Прадмет', '#' + id)

                        const modalElement = document.getElementById('addSubjectModal')
                        bootstrap.Modal.getInstance(modalElement).hide()

                        form.classList.remove('was-validated')
                        form.reset()
                    })
                }
            })
        }
    });
</script>
