<div class="d-none" id="createNewInformantTemplate">
    <p id="editBlock_BLOCK_INDEX_Informant_INFORMANT_ID">
        <b>INFORMANT_NAME</b>
        INFORMANT_BIRTH_YEAR
        INFORMANT_BIRTH_LOCATION
        INFORMANT_LIVE_LOCATION
        <small>INFORMANT_NOTES</small>

        <button type="submit" class="btn btn-danger"
                data-index="INFORMANT_ID" data-block="BLOCK_INDEX">Выдаліць</button>
    </p>
</div>

<script type="application/javascript">
    function addActionInformant(element) {
        const id = element.getAttribute('data-index')
        const blockIndex = element.getAttribute('data-block')
        element.addEventListener('click', () => {
            if (addRemoveInformantFromBlock(blockIndex, id, 'remove')) {
                showMessage(200, 'Даныя выдалены паспяхова!', 'Інфармант', '#' + id)
                document.getElementById('editBlock_' + blockIndex + '_Informant_' + id).remove()
            } else {
                showMessage(400, 'Даныя ня выдалены!', 'Інфармант', '#' + id)
            }
        })
    }

    function addRemoveInformantFromBlock(blockIndex, id, action) {
        return false
    }

    function addInformantBlock(blockIndex, id, name, birthYear, notes) {
        let html = document.getElementById('createNewInformantTemplate').innerHTML
        html = html.replaceAll('BLOCK_INDEX', blockIndex)
        html = html.replaceAll('INFORMANT_ID', '' + id)
        html = html.replaceAll('INFORMANT_NAME', name)
        const birth = birthYear === '' ? '' : birthYear + ' г.н.'
        html = html.replaceAll('INFORMANT_BIRTH_YEAR', birth)
        html = html.replaceAll('INFORMANT_BIRTH_LOCATION', '')
        html = html.replaceAll('INFORMANT_LIVE_LOCATION', '')
        html = html.replaceAll('INFORMANT_NOTES', notes)

        let element = document.getElementById('allBlock' + blockIndex + 'Informants')
        element.insertAdjacentHTML('afterbegin', html)

        let newInformant = document.getElementById('editBlock_' + blockIndex + '_Informant_' + id).querySelector('button')
        addActionInformant(newInformant)
    }

    window.addEventListener("load", (event) => {
        const saveNewInformant = document.getElementById('saveNewInformant')
        if (saveNewInformant) {
            saveNewInformant.addEventListener('click', event => {
                const form = document.getElementById('formAddInformant')
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    form.classList.add('was-validated')
                } else {
                    const formData = new FormData(form);
                    const formDataObj = Object.fromEntries(formData.entries());
                    let id = formDataObj.id
                    const isNew = id === ''
                    const index = formDataObj.blockIndex
                    delete formDataObj.blockIndex
                    if (isNew) {
                        formDataObj.dateCreated = (new Date()).toISOString()
                    }
                    formDataObj.yearBirth = parseInt(formDataObj.yearBirth)
                    formDataObj.gender = parseInt(formDataObj.gender)
                    formDataObj.nameAndGender = {name: formDataObj.firstName, gender: formDataObj.gender}
                    if (formDataObj.geoPointBirth === '') {
                        formDataObj.geoPointBirth = null
                    }
                    if (formDataObj.geoPointCurrent === '') {
                        formDataObj.geoPointCurrent = null
                    }

                    sendRequest(
                        window.location.origin + '/api/informants' + (isNew ? '' : '/' + id),
                        isNew ? 'POST' : 'PATCH',
                        formDataObj,
                        'Інфармант',
                        id,
                        index
                    ).then(function (obj) {
                        if (addRemoveInformantFromBlock(obj.index, obj.id, 'add')) {
                            addInformantBlock(obj.index, obj.id, obj.firstName, obj.yearBirth, obj.notes)
                            showMessage(obj.status, 'Даныя захаваліся паспяхова!', 'Інфармант', '#' + obj.id)
                        } else {
                            showMessage(400, 'Даныя ня захаваліся!', 'Інфармант', '#' + obj.id)
                        }

                        const modalElement = document.getElementById('addInformantModal')
                        bootstrap.Modal.getInstance(modalElement).hide()

                        form.classList.remove('was-validated')
                        form.reset()
                    })
                }
            })
        }
    });
</script>
