<div class="d-none" id="createNewUserRoleTemplate">
    <p id="editUserReport_USER_ROLE_ID">
        <u>USER_FULL_NAME</u>:
        <span>
            USER_ROLE_NAME
            <button type="button" class="btn btn-danger" data-index="USER_ROLE_ID">Выдаліць</button>
        </span>
    </p>
</div>

<script type="application/javascript">
    function addActionUserRole(element) {
        const id = element.getAttribute('data-index')
        element.addEventListener('click', () => {
            // todo: remove user roles
            showMessage(400, 'Данныя выдалены паспяхова!', 'Даследвальнік', '#' + id)
            document.getElementById('editUserReport' + id).remove()
        })
    }

    function addUserRoleBlock(userName, id, roleNames) {
        let html = document.getElementById('createNewUserRoleTemplate').innerHTML
        html = html.replaceAll('USER_FULL_NAME', userName)
        html = html.replaceAll('USER_ROLE_ID', '' + id)
        html = html.replaceAll('USER_ROLE_NAME', roleNames)
        let element = document.getElementById('allUserRoles')
        element.insertAdjacentHTML('afterbegin', html)

        let newUserRole = document.getElementById('editUserReport_' + id).querySelector('button')
        addActionUserRole(newUserRole)
    }

    window.addEventListener("load", (event) => {
        const saveReportUser = document.getElementById('saveReportUser')
        if (saveReportUser) {
            saveReportUser.addEventListener('click', event => {
                const form = document.getElementById('formAddReportUser')
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                } else {
                    // todo: save user roles
                    const id = form.querySelector('select[name="user"]').value
                    const userName = form.querySelector('select[name="user"]').selectedOptions[0].text
                    let txt = '';
                    for (let i = 0; i < form.length; i++) {
                        if (form[i].type === 'checkbox' && form[i].checked) {
                            txt = txt + form[i].value + " ";
                        }
                    }
                    addUserRoleBlock(userName, id, txt)

                    showMessage(200, 'Данныя захаваліся паспяхова!', 'Даследвальнік', '#' + id)

                    const modalElement = document.getElementById('addReportUserModal')
                    bootstrap.Modal.getInstance(modalElement).hide()

                    form.classList.remove('was-validated')
                    form.reset()
                }
                form.classList.add('was-validated')
            })
        }
    });
</script>
