{% extends 'base.html.twig' %}

{% block title %}
    Аўтарызацыя
{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="h2">Аўтарызацыя</h1>
        <div class="alert alert-warning" role="alert">
            Зайсьці на сайт толькі могуць тыя, хто звязаўся з адміністратарам і атрымаў дазвол на працу з экспедыцыйнымі матэрыяламі.
        </div>
        <p>
            {% block hwi_oauth_content %}
            {% endblock hwi_oauth_content %}
        </p>
    </div>
{% endblock %}
