name: Testing

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  symfony-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.3', '8.4', '8.5']
    continue-on-error: ${{ matrix.php-version == '8.5' }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        tools: phpunit-bridge
        extensions: mbstring, xml, ctype, iconv, pdo_sqlite, sqlite3
        coverage: xdebug

    - name: Copy .env.test.local
      run: php -r "file_exists('.env.test.local') || copy('.env.test', '.env.test.local');"

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-php-

    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --optimize-autoloader

    - name: Create Database
      run: |
        mkdir -p data
        touch data/database.sqlite

    - name: Create schema
      env:
        DATABASE_URL: sqlite:///%kernel.project_dir%/data/database.sqlite
      run: bin/console doctrine:schema:create --env=test

    - name: Load fixtures
      env:
        DATABASE_URL: sqlite:///%kernel.project_dir%/data/database.sqlite
      run: bin/console doctrine:fixtures:load --env=test

    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DATABASE_URL: sqlite:///%kernel.project_dir%/data/database.sqlite
      run: vendor/bin/phpunit

    - name: Execute Style Check
      run: vendor/bin/phpcs src tests --standard=PSR12 -nps

    - name: Twig test
      env:
        DATABASE_URL: sqlite:///%kernel.project_dir%/data/database.sqlite
      run: bin/console lint:twig
